.header-content{
    margin: 0 auto;
}

.header-link-img{
    width: 100px;
    padding: 2px;
}
.header-link-img img{
    width: 100%;
    height: auto;
    display: block;
}

.header-navtab-btn.actived {
    background-color: aqua;
}


.tab-content-item{
    margin: 0 auto;
    width: 300px;
    /* display: none; */
}
.tab-content-item img{
    width: 100%;
    height: auto;
    display: block;
}
.tab-content-item.actived{
    display: block;
}